services:
  doybot:
    container_name: doybot
    build: .
    volumes:
      - app_data:/app
    image: doybot:latest
    restart: unless-stopped
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - SPOTIFY_ID=${SPOTIFY_ID}
      - SPOTIFY_SECRET=${SPOTIFY_SECRET}
      - BOT_PREFIX=${BOT_PREFIX}
      - ENABLE_SLASH_COMMANDS=${ENABLE_SLASH_COMMANDS}
      - MENTION_AS_PREFIX=${MENTION_AS_PREFIX}
      - VC_TIMEOUT=${VC_TIMEOUT}
      - VC_TIMEOUT_DEFAULT=${VC_TIMEOUT_DEFAULT}
      - ALLOW_VC_TIMEOUT_EDIT=${ALLOW_VC_TIMEOUT_EDIT}
      - MAX_SONG_PRELOAD=${MAX_SONG_PRELOAD}
      - SEARCH_RESULTS=${SEARCH_RESULTS}
      - MAX_HISTORY_LENGTH=${MAX_HISTORY_LENGTH}
      - MAX_TRACKNAME_HISTORY_LENGTH=${MAX_TRACKNAME_HISTORY_LENGTH}
      - DATABASE_URL=${DATABASE_URL}
      - ENABLE_BUTTON_PLUGIN=${ENABLE_BUTTON_PLUGIN}
      - EMBED_COLOR=${EMBED_COLOR}
      - SUPPORTED_EXTENSIONS=${SUPPORTED_EXTENSIONS}
      - COOKIE_PATH=${COOKIE_PATH}
      - GLOBAL_DISABLE_AUTOJOIN_VC=${GLOBAL_DISABLE_AUTOJOIN_VC}
      - ANNOUNCE_DISCONNECT=${ANNOUNCE_DISCONNECT}
      - ENABLE_PLAYLISTS=${ENABLE_PLAYLISTS}
      - GUILD_WHITELIST=${GUILD_WHITELIST}
    networks:
      - bridge
    depends_on:
      bgutil-provider:
        condition: service_started
  bgutil-provider:
    container_name: bgutil-provider
    image: brainicism/bgutil-ytdlp-pot-provider:latest
    restart: unless-stopped
    ports:
      - "4416:4416"
    networks:
      bridge:
        ipv4_address: 172.20.0.100
volumes:
  app_data:
networks:
  bridge:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24