py-cord[voice] @ git+https://github.com/maj0rpain/pycord@master
py-cord[speed]
yt-dlp[default]==2025.6.30
aiohttp==3.12.13
beautifulsoup4==4.13.4
spotipy==2.25.1
SQLAlchemy[asyncio]==2.0.41
alembic==1.16.2
aioconsole==0.8.1
./config
